* {
    -fx-theme-cljs-compiler-labeled-container: #310e45;
    -fx-theme-cljs-compiler-non-read-form-node: #555;
    -fx-theme-cljs-compiler-analysis-node: #ff38bc;
    -fx-theme-cljs-compiler-parsing-node: #ff543e;
    -fx-theme-cljs-compiler-emission-node: #ff38bc;
    -fx-theme-cljs-compiler-arrow: magenta;
    -fx-theme-cljs-compiler-buttons: #60108c;

}
