* {
    -fx-theme-cljs-compiler-labeled-container: #9aa9ed;
    -fx-theme-cljs-compiler-non-read-form-node: #bbb;
    -fx-theme-cljs-compiler-analysis-node: #db7287;
    -fx-theme-cljs-compiler-parsing-node: #dba172;
    -fx-theme-cljs-compiler-emission-node: #db7287;
    -fx-theme-cljs-compiler-arrow: #630347;
    -fx-theme-cljs-compiler-buttons: #425299;
}
